.card {
    /* box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%); */

        border: none !important;
     border-radius: none !important;
     
}

.card{
    /* background-color: #008cf6 !important; */
    border: none !important;
         box-shadow: none !important;
}
.nav-tabs-custom .nav-item .nav-link.active {
    color: #6c6ff5;
}
.nav-tabs-custom .nav-item .nav-link {
    border: none;
}
.text-muted {
    color: #8ca3bd!important;
}
.nav-tabs-custom .nav-item {
    position: relative;
    color: #271050;
}
.nav-tabs-custom .nav-item .nav-link.active:after {
    -webkit-transform: scale(1);
    transform: scale(1);
}
.nav-tabs-custom .nav-item .nav-link::after {
    content: "";
    background: #6c6ff5;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -1px;
    -webkit-transition: all 250ms ease 0s;
    transition: all 250ms ease 0s;
    -webkit-transform: scale(0);
    transform: scale(0);
}


#faq-row{
    background-color: #f8fcff;
}

 /* .container{
    width: 100% !important;
    background-color: #271050;
} */

/* .row{
    width: 100% !important;
}  */

.faq-main-body{
    padding-top: 20px;
    background-color: #f8fcff;
    padding-bottom: 60px;
    
}


#faq-card-body{
    background-color: #f8fcff;
}

.col-lg-9{
    width: 90% !important;
}

.text-muted{
    margin-right: 30px;
}

.col-lg-6 h5{
    margin-left: 10px;
}
@media (max-width:477px){

    .text-muted{
        margin-right: 5px;
    }


    .col-lg-6 h5{
        margin-left: 10px;
    }
}