.adminrightchat{
    max-width: 70%;
    height: 750px;
    background-color: rgb(255, 255, 255);
    /* margin-left: 25%; */
    border: 1px solid #909090;
 
}
.adminastrologername{
    height: 50px;
    display: flex;
    padding: 8px;
    justify-content:space-evenly;
    
    
}

.admininputchat{
    display: flex;
    width: 96%;
    margin-left: 2%;
}

.admintimeleft{
    display: flex;
    height: 40px;
    justify-content: space-between;
    background-color: rgb(216, 90, 90);
    padding: 8px;
    border-radius: 10px;
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.adminchatrender {
    display: flex;
    flex-direction: column;
    height: 600px;
  }

.message {
    max-width: 70%;
    margin: 8px;
    padding: 8px;
    border-radius: 8px;
  }
  
  .sender {
    align-self: flex-start;
    background-color: rgb(30, 160, 45); 
    color: #000000; 
  }
  
  .receiver {
    align-self: flex-end;
    background-color:  rgb(211, 224, 114); 
    color: #000000; 
  }
  
  .admintext {
    margin: 0;
    color: rgb(0, 0, 0);
  }



  @media (max-width:470px) {
    .adminchat{
        max-width: 100%;
        height: 750px;
        background-color: rgb(255, 255, 255);
        margin-left: 2.5%;
        border: 1px solid #525252;
    }
    
  }